@model MyProjectInMVC.Controllers.MessageHomeworkController.AllMessagesViewModel
@{
    ViewData["Title"] = "Messages a responder";
}
<div class="card mt-5">
    <div class="card-body mt-1">

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                <div class="text-center">
                    @TempData["SuccessMessage"]
                </div>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                <div class="text-center">
                    @TempData["MessageError"]
                </div>
            </div>
        }

        <div class="text-center">
            <h1 class="mt-1">Mensagens não respondidas</h1>
            <br/>
            <a class="btn btn-primary" asp-controller="MessageHomework" asp-action="Index">Não respondidas</a>
        </div>

        <div class="">
            <table class="table table-striped mt-4" id="allmessages-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Aluno</th>
                        <th scope="col">Atividade</th>
                        <th scope="col">Data de Envio</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 0, cont = 1;
                        foreach (var item in @Model.allMessages)
                        {
                            <tr>
                                <th scope="row">@cont</th>
                                <td>@item.NameSenderUser</td>
                                <td>@Model.Homework[i].Title</td>
                                <td>@item.CreatedAt</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <!--a role="button" asp-route-id="@item.Id" asp-controller="MessageHomework" asp-action="Delete" class="btn btn-danger">Deletar</a-->
                                        <a role="button" asp-route-id="@item.Id" asp-controller="MessageHomework" asp-action="ToRespond" class="btn btn-success">Chat</a>
                                        <a role="button" asp-route-id="@item.Id" asp-controller="MessageHomework" asp-action="Delete" class="btn btn-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            cont++;
                            i++;
                        }
                    }
                    else
                    {
                        <div class="alert alert-danger mt-4 mb-4" role="alert">
                            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                            <div class="text-center">
                                Nenhuma mensagem cadastrada!
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>