@model List<CategoryModel>
@{
    ViewData["Title"] = "Home Page";
}

<header>
  <link rel="stylesheet" href="~/css/home2.css">
</header>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        <div class="text-center">
            @TempData["SuccessMessage"]
        </div>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        <div class="text-center">
            <p>@TempData["ErrorMessage"] </p>
        </div>
    </div>
}

<div class="primarydiv mb-5">
    <div class="container mt-3 optionslist ">
        <div class="row mt-3">

            @foreach (CategoryModel item in Model)
            {
                <div class="col-lg-6 col-md-12 mb-6 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">Acesse aqui os materiais de estudo disponibilizados para sua turma.</p>
                            <form asp-controller="UniqueCategory" asp-action="Index" asp-route-id="@item.Slug" method="get">
                                <input type="hidden" name="categoryid" value="@item.Id">
                                <button type="submit" class="btn botclass btn-primary">Acessar</button>
                            </form>
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-6 mb-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Chat com o Professor</h5>
                        <p class="card-text">Mantenha-se em contato com o professor e tire suas dúvidas.</p>
                        <a asp-controller="Chat" asp-action="StudentChat" class="btn botclass btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Eventos e Calendário</h5>
                        <p class="card-text">Fique por dentro dos eventos e não perca nenhuma novidade.</p>
                        <a href="#" class="btn botclass btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 mb-6 mt-3">
                <div class="card">
                    <span class="notification-dot"></span>
                    <div class="card-body">
                        <h5 class="card-title">Eventos e Calendário</h5>
                        <p class="card-text">Fique por dentro dos eventos e não perca nenhuma novidade.</p>
                        <a href="#" class="btn botclass btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
            @*<div class="col-md-6 mb-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Atividades</h5>
                        <p class="card-text">Veja as atividades propostas e acompanhe seu progresso.</p>
                        <a href="#" class="btn botclass btn-primary">Acessar</a>
                    </div>
                </div>
            </div>*@
            <div class="col-md-6 mb-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Controle Financeiro</h5>
                        <p class="card-text">Gerencie seus pagamentos e fique por dentro das mensalidades.</p>
                        <a href="#" class="btn botclass btn-primary">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cardlist-container">
        <div class="cardlist">
            <h1>Studio Musical Matheus Andreozzi</h1>
            <img src="https://arquivos.matheusandreozzi.com.br/images/guitar.png"></img>
        </div>
    </div>
</div>