@using Microsoft.IdentityModel.Abstractions
@model UniqueCategoryModel
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <link rel="stylesheet" href="~/css/home.css">
</header>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        <div class="text-center">
            @TempData["SuccessMessage"]
        </div>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        <div class="text-center">
            @TempData["ErrorMessage"]
        </div>
    </div>
}

<div class="primarydiv mb-5">
    <div class="container mt-3 optionslist ">
        
        <div class="Concluir mt-3 text-center">
            <h4>
                <form asp-controller="UniqueCategory" asp-action="Index" asp-route-id="@Model.Category.Slug" class="d-inline">
                    <button type="submit" class="Select btn btn-link border-0 align-middle">Concluir</button>
                </form>
                <span class="text-muted mx-2 align-middle">|</span>
                <a asp-controller="UniqueCategory" asp-action="CompletedHomework" asp-route-id="@Model.Category.Slug" class="d-inline btn btn-link border-0 align-middle">Concluídas</a>
            </h4>
        </div>

        <div class="row mt-3">
            @foreach (HomeworkModel item in Model.Homeworks)
            {
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@TruncateDescription(item.Instructions, 50)</p>
                            @if (@item.Instructions == null)
                            {<br/>}
                            <form asp-controller="UniqueCategory" asp-action="Details" asp-route-id="@item.Id" method="get">
                                <input type="hidden" name="categoryId" value="@Model.Category.Id">
                                <input type="hidden" name="homeworkId" value="@item.Id">
                                <button type="submit" class="btn botclass btn-primary mt-auto">Acessar</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="cardlist container mt-3">
        <h1>Teste</h1>
    </div>
</div>

@functions {
    public string? TruncateDescription(string? description, int maxLength)
    {
        if (description == null)
        {
            return null;
        }
        if (description.Length > maxLength)
        {
            return description.Substring(0, maxLength) + "...";
        }
        return description;
    }
}