@model List<HomeworkModel>
@{
    ViewData["Title"] = "Página de Tarefas";
}
<div class="card mt-5">
    <div class="card-body mt-1">

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                <div class="text-center">
                    @TempData["SuccessMessage"]
                </div>
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                <div class="text-center">
                    @TempData["MessageError"]
                </div>
            </div>
        }

        <div class="text-center">
            <h1 class="mt-1">Listagem de Tarefas</h1>
            <a class="btn btn-primary mt-2" role="button" asp-controller="Homework" asp-action="Create">Adicionar nova tarefa</a>
        </div>

        <div class="">
            <table class="table table-striped mt-4" id="category-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Ações</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 0;
                        foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <th scope="row">@i</th>
                                <td>@item.Title</td>
                                <td>@item.CreatedAt</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a role="button" asp-route-id="@item.Id" asp-controller="Homework" asp-action="ConfirmDelete" class="btn btn-danger">Deletar</a>
                                        <a role="button" asp-route-id="@item.Id" asp-controller="Homework" asp-action="Edit" class="btn btn-warning">Editar</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <div class="alert alert-danger mt-4 mb-4" role="alert">
                            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                            <div class="text-center">
                                Nenhuma tarefa cadastrada!
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
