@using MyProjectInMVC.Models.ChatModels
@using MyProjectInMVC.Repository
@model MyProjectInMVC.Controllers.modelIndexChat
@{
    ViewData["Title"] = "Chat - Admin";
    int i = 0;
}

<header>
  <link rel="stylesheet" href="~/css/chat.css">
</header>

<section class="background">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0" style="max-height: 500px; overflow-y: auto;">
        <h1 class="font-weight-bold mb-3 text-center text-lg-start">Usuários</h1>
        <div class="card">
          <div class="card-body">
  
              
            <ul class="list-unstyled mb-0">
                
              @foreach (UserListChatModel item in @Model.UserList.UsersFalse)
              {
                <li class="p-2 border-bottom" style="background-color: #eee;">
                  <a asp-controller="Chat" asp-action="IndexChat" asp-route-id="@item.UserId" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      @*<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar"
                           class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">*@
                      <div class="pt-1">
                        <p class="fw-bold mb-0">@item.Name</p>
                        <p class="small text-muted">@TruncateDescription(item.Message, 25)</p>
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">@item.Time</p>
                      <span class="badge bg-danger float-end" style="color: #dc3545; border-radius: 100%;">.</span>
                    </div>
                  </a>
                </li>
              }

              @foreach (UserListChatModel item in @Model.UserList.UsersTrue)
              {
                <li class="p-2 border-bottom">
                  <a asp-controller="Chat" asp-action="IndexChat" asp-route-id="@item.UserId" class="d-flex justify-content-between">
                    <div class="d-flex flex-row">
                      @*<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-1.webp" alt="avatar"
                           class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">*@
                      <div class="pt-1">
                        <p class="fw-bold mb-0">@item.Name</p>
                        <p class="small text-muted">@TruncateDescription(item.Message, 25)</p>
                      </div>
                    </div>
                    <div class="pt-1">
                      <p class="small text-muted mb-1">@item.Time</p>
                    </div>
                  </a>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 container2 col-lg-7 col-xl-8" style="max-height: 500px; min-height: 500px; overflow-y: auto;" id="messageContainer">
  
        <ul class="list-unstyled">
          
          @foreach (MessageChatModel item in @Model.Messages)
          {
            if (item.SenderUserId != @Model.UserSession)
            {
              <li class="d-flex justify-content-between mb-4">
                <div class="card w-90">
                  <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">@item.NameSenderUser</p>
                    <p class="text-muted small mb-0"><i class="far fa-clock"></i>@Model.TimeMessage[i]</p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">@item.Message</p>
                  </div>
                </div>
                <img src="https://site.groupe-psa.com/content/uploads/sites/9/2016/12/white-background-2-768x450.jpg" alt="avatar"
                     class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
              </li>
            }
            else
            {
              <li class="d-flex justify-content-between mb-4">
                <img src="https://site.groupe-psa.com/content/uploads/sites/9/2016/12/white-background-2-768x450.jpg" alt="avatar"
                     class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                <div class="card w-90">
                  <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">@item.NameSenderUser</p>
                    <p class="text-muted small mb-0"><i class="far fa-clock"></i>@Model.TimeMessage[i]</p>
                  </div>
                  <div class="card-body">
                    <p class="mb-0">@item.Message</p>
                  </div>
                </div>
              </li>
            }
            i++;
          }
          <form asp-controller="Chat" asp-action="InviteMessage" asp-route-receiveUserId="@Model.UserId" method="post">
            <li class="bg-white mb-3">
              <div class="form-outline">
                <input type="text" class="form-control" name="message" rows="4" placeholder="Mensagem...">
              </div>
            </li>
            <button type="submit" class="btn btn-info btn-rounded float-end">Enviar</button>
          </form>
        </ul>
      </div>
    </div>
  </div>
</section>

<script>
    function scrollMessagesToBottom() {
        var messageContainer = document.getElementById("messageContainer");
        messageContainer.scrollTop = messageContainer.scrollHeight;
    }
    window.onload = function() {
        scrollMessagesToBottom();
    };
</script>

@functions {
    public string? TruncateDescription(string? description, int maxLength)
    {
        if (description == null)
        {
            return null;
        }
        if (description.Length > maxLength)
        {
            return description.Substring(0, maxLength) + "...";
        }
        return description;
    }
}

